.bg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 20px;
  }
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.subTitle {
  font-size: 28px;
  color: gray;
}
.title {
  font-size: 28px;
  font-weight: bold;
}
.desc {
  font-size: 15px;
  color: gray;
}

@media (min-width: 1200px) {
  .header {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 1200px) {
  .main {
    flex-direction: row;
    align-items: center;
  }
}

.cardTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  max-width: 350px;
}

.cardTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.cardContent {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

.iconContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.icon {
  height: 100%;
  width: 60px;
}

.icon img {
  height: 100%;
  width: 100%;
}
